.cardLogin {
    width: 368px;
    background: #fff;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0px;
    margin: auto;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));
}

.contentLogin{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}

.textMasuk{
    display: block;
    font-family: 'open sans','tahoma',sans-serif;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: rgba(49,53,59,0.96);
    text-decoration: initial;
}

.textDaftar{
    color: #9400D3;
    font-family: 'open sans','tahoma',sans-serif;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

